@media (max-width:700px){
  body{
    background-size:100% 100%,100% auto!important;
    background-position:center top,center top!important;
    background-repeat:no-repeat,repeat-y!important;
    background-attachment:scroll,scroll!important;
  }
  .product{
    background-size:100% 100%,100% auto!important;
    background-position:center,center!important;
    background-repeat:no-repeat,no-repeat!important;
  }
  .media{
    aspect-ratio:auto!important;
  }
  .media img,.product img{
    width:100%!important;
    height:auto!important;
    aspect-ratio:auto!important;
    object-fit:contain!important;
  }
}
